#navText{
    font-size: 40px;
}

.width{
   width: 100% ; 
}

body{
    background-image: url('wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg');
    min-height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 56px;
}

nav{
    border-bottom: solid white ;
}

.row{
    text-align: center;
}
