#navText{
    font-size: 40px;
    -webkit-text-stroke: 2.5px rgb(0, 0, 0);
    font-size: 65px;
    font-weight: 600;
}

.width{
   width: 100% ; 
}

body{
    background-image: url('wolfgang-hasselmann-bR_-gllg7Bs-unsplash.jpg');
    min-height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 56px;
}

nav{
    border-bottom: solid white ;
}

.row{
    text-align: center;
}

#marginTop{
    margin-top: 35px;
}

#outline{
    -webkit-text-stroke: 2.5px rgb(0, 0, 0);
    font-size: 65px;
    font-weight: 600;
}

/* footer{
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    font-size: 65px;
    font-weight: 600;
} */